<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <style>
        .Header, .Header-link {
          display: none !important;
        }

        /* Basic Markdown styling */
        body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
          padding: 20px;
        }

        h1, h2, h3, h4, h5, h6 {
          margin-top: 1.5em;
          margin-bottom: 0.5em;
        }

        p {
          margin-bottom: 1.5em;
        }

        /* Add more styles as needed */
    </style>
</head>
<body>
{{ content }}
</body>
</html>
